<div class="content">
    {{> header}}
    <div class="container">
        <h2 class="greeting">Welcome back, <span class="user-identifier">{{session.identity.traits.email}}</span>!</h2>
        <p>
            Hello, nice to have you! You signed up with this data:
        </p>
        <pre><code>{{jsonPretty session.identity.traits}}</code></pre>
    </div>
</div>
